.text-moveable-container {
    position: absolute;
    overflow: hidden;
    white-space: pre;
}

.text-moveable-container .inner_text {
    height: 100%;
    white-space: break-spaces;
}

.text-moveable-container.editable {
    border: 2px dashed #4af;
    background-color: rgba(0,0,0,0.2);
    box-sizing: content-box;
}