.text-moveable-container {
    position: absolute;
    overflow: hidden;
    outline: none;

    white-space: pre;
}

.text-moveable-container.editable {
    border: 2px dashed #4af;
    background-color: rgba(0,0,0,0.2);
    box-sizing: content-box;
}