.form-inline label._left {
    justify-content: left;
    font-weight: 700;
}

label.custom-control-label::before, label.custom-control-label::after {
    left: -0.5rem !important;
}


/* hides the spin-button */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}