.body-container{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: calc(100vh - 56px);

    background-color: #eceff1;/*Blue Gray 50*/

    overflow: hidden;
}