.body-container{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: calc(100vh - 56px);

    background-color: var(--storylet-blue-grey-50);

    overflow: hidden;
}