#image-gallery-full {
    display: none;

    z-index: 4000;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(55,71,79,.5);
    transition: background-color .15s linear;
}

#image-gallery {
    z-index: 4001;
    position: absolute;
    top: 104px;
    left: 20%;
    width: 60%;
    height: calc(100% - 208px);
    background-color: var(--storylet-white);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    /*overflow-x: auto;*/
}

#image-gallery img {
    cursor: pointer;
    background-color: var(--storylet-white);
    padding: 40px; /*todo remove if not icons*/
}

#image-gallery-close {
    position: absolute;
    top: -20px;
    right: -20px;

    width: 40px;
    height: 40px;
    cursor: pointer;

    padding: 8px;

    color: var(--storylet-white);
    background-color: var(--storylet-primary);
    border-radius: 50%;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#image-gallery-search {
    width:  40px;
    height: 40px;

    padding: 10px;
    margin-left: calc(33.333333% - 40px);;

    color: var(--storylet-white);
}

#image-gallery-header {
    display: flex;

    height: 56px;
    line-height: 40px;
    padding: 9px 27px;
    /*background-color: var(--storylet-blue-grey-50);*/
    background: rgb(0,188,212);
    background: linear-gradient(90deg, rgba(0,188,212,1) 0%, rgba(33,150,243,1) 50%, rgba(103,58,183,1) 100%);

    font-weight: 700;

    border-radius: 8px 8px 0 0;
}

#seach-images {

}

#image-gallery-body {
    /*padding: 8px;*/
    overflow-x: auto;
    height: calc(100% - 56px);
    background: var(--storylet-blue-grey-50);
}