#menu-container {
    display: flex;
    flex-direction: row;

    background-color: #FFFFFF;
    height: 48px;
    box-shadow: 0 1px 0 rgba(14,19,24,.15);
    border-right: 1px solid var(--storylet-blue-grey-50);
}

.buttons {
    display: flex;
    width: 75%;
    padding: 5px;
}

.buttons .icon {
    font-size: 38px;
    padding: 7px;
    margin-left: 8px;
    cursor: pointer;
    color: var(--storylet-grey-900);
    transition: background-color .3s linear;
    border-radius: 4px;
}

.buttons .icon.add-image  {
    padding: 5px;
    margin-left: 3px;
}
.buttons .icon.add-video {
    padding: 5px;
}
.buttons .icon.add-link {
    padding: 9px;
    margin-left: 3px;
}
.buttons .icon.add-datalet {
    margin-left: 0px;
}
.buttons .icon.open-preview {
    margin-left: 16px;
    color: var(--storylet-primary);
}

.buttons .icon:hover {
    background-color: var(--storylet-grey-200);
}

.buttons .icon:first-child {
    margin-left: 16px;
}

.find-ideas {
    display: flex;
    width: 25%;
    padding: 5px;
}

.find-ideas .icon {
    font-size: 38px;
    padding: 2px;
    margin-right: 8px;
    cursor: pointer;
    color: var(--storylet-blue-grey-50);
    transition: color .45s linear;
}

.find-ideas .icon:hover {
    color: #FFEB3B;
}
.slide-control {
    position: fixed;
    bottom: 4px;
    opacity: 0.5;
}
.slide-control:hover {
    opacity: 1;
}

.add-slide {
    right:calc(25% + 4px);
}
.duplicate-slide {
    right: calc(25% + 44px);
}
.remove-slide {
    right: calc(25% + 84px);
}

.hideSettings .add-slide {
    right:4px;
}
.hideSettings .duplicate-slide {
    right: 44px;
}
.hideSettings .remove-slide {
    right: 84px;
}