#menu-container {
    display: flex;
    flex-direction: row;

    background-color: #FFFFFF;
    height: 48px;
    box-shadow: 0 1px 0 rgba(14,19,24,.15);
}

.component-buttons-container .icon, .slide-buttons-container .icon {
    font-size: 38px;
    padding: 7px;
    cursor: pointer;
    color: var(--storylet-grey-900);
}

/* COMPONENT BUTTONS */

.component-buttons-container {
    width: 75%;
    padding: 5px;
}

.component-buttons-container > div {
    display: inline-block;
    width: 48px;
    text-align: center;
    transition: background-color .3s linear;
    border-radius: 4px;
}

.component-buttons-container > div:hover {
    background-color: var(--storylet-grey-200) !important;
}

.component-buttons-container .icon.add-image  {
    padding: 5px;
}
.component-buttons-container .icon.open-preview {
    color: var(--storylet-primary) !important;
}

/* SLIDE BUTTONS */

.slide-buttons-container {
    position: fixed;
    bottom: 4px;
    right:calc(25% + 4px);
    z-index: 999;
}

.hideSettings .slide-buttons-container {
    right: 4px;
}

.slide-buttons-container > div {
    display: inline-block;
}

.slide-buttons-container .icon {
    margin: 0 !important;
    opacity: 0.5;
}
.slide-buttons-container .icon:hover {
    opacity: 1;
}

/* FIND IDEAS */

.find-ideas {
    display: flex;
    width: 25%;
    padding: 5px;
}

.find-ideas .icon {
    font-size: 38px;
    padding: 2px;
    /*margin-right: 8px;*/
    cursor: pointer;
    color: var(--storylet-blue-grey-800);
    transition: color .45s linear;
}

.find-ideas .icon:hover {
    color: #FFEB3B;
}

.find-ideas input {
    margin-left: 8px;
}