.properties-container {
    width: 25%;
    /*padding-top: 8px;*/
    height: 100%;

    overflow: auto;
    scroll-margin: 10px;

    background-color: #ffffff;

    border-left: 1px solid rgba(14,19,24,.15);
}

.hideSettings .properties-container
{
    width: 0;
    display: none;
}

.properties-container:hover::-webkit-scrollbar, .properties-container:hover::-webkit-scrollbar-track, .properties-container:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.properties-container::-webkit-scrollbar
{
    visibility: hidden;
}

.properties-container::-webkit-scrollbar-track
{
    width: 16px;
    background-color: transparent;

    visibility: hidden;
}

.properties-container::-webkit-scrollbar-thumb
{
    width: 8px;
    background-color: rgba(236,239,241,1);
    border: 4px solid #FFFFFF;
    border-radius: 8px !important;

    visibility: hidden;
}

.properties {
    padding-top: 24px;
    display: none;
}

.properties.show {
    display: block;
}

/* slide-properties */

.property-row {
    height: 56px;
    line-height: 56px;
}

select.template {
    width: 50%;
    display: inline-block;
    margin-left: 16px;
}

label.template-label {
    width: 80px;
    font-weight: 700;
}
label.custom-control-label.mycb {
    font-weight: 700;
}
label.custom-control-label.mycb::before, label.custom-control-label.mycb::after {
    top: 20px !important;
    left: 98px !important;
    cursor: pointer;
}

/* TABS */

.tabs {
    display: flex;
}

.tab {
    width: 50%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 700;
    background: #eceff1;
    cursor: pointer;
    /*color: var(--storylet-primary);*/
}

.tab.selected {
    background: var(--storylet-white);
    color: var(--storylet-primary);
}