#path {
    display: flex;

    height: 48px;
    line-height: 38px;
    padding: 5px;
    /*border: 2px solid var(--storylet-blue-grey-50);*/

    font-weight: 700;
}

#selected-words {

}

#path span {
    text-decoration: underline;
    cursor: pointer;
}

#wordcloud {
    height: calc(100% - 48px);
    border-radius: 0 0 8px 8px;
}